<tr>
  <td><%= image_tag(user.profile_url, class: 'img-responsive') %></td>
  <td><%= user.firstname %></td>
  <td><%= user.lastname %></td>
  <td><%= user.masked_entity(:email) %></td>
  <td><%= user.industry %></td>
  <td><%= user.location_name %></td>
  <td><%= user.headline %></td>
</tr>
